# Dependencies
node_modules/
.pnpm-store/

# Build and Transpilation outputs
dist/
build/
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
